name = "sqlrest-api"
main = "src/index.ts"
compatibility_date = "2023-12-18"

[env.production]
name = "sqlrest-api-production"

# Environment variables
[vars]
JWT_ISSUER = "SqlRestApi"
JWT_AUDIENCE = "SqlRestApi"
JWT_EXPIRY_MINUTES = "60"
CORS_ORIGINS = "http://localhost:5173,http://localhost:3000,http://localhost:5174,https://excel-grid.bart-c9c.workers.dev,https://d3-excel.hideterms.com"


# Secrets (to be set with wrangler secret put)
# JWT_KEY
# DB_CONNECTION_STRING
# AUTH_USERNAME
# AUTH_PASSWORD


